$maincolor: #2489bc;
$subcolor1: #f2922c;
$subcolor2: #333333;
$contwidth: 1200px;

@mixin clearfix{
    display: block;
    clear: both;
    content: '';
}
@mixin cont{
    max-width: $contwidth;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}
@mixin abs0{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@mixin aftersty{
    display: block;
    position: absolute;
    content: "";
}
@mixin headertrans{
    -webkit-transition-duration:0.4s;
    transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    transition-timing-function:ease;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Noto+Sans+KR:wght@300;500;700;900&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Noto+Sans+KR:wght@300;500;700;900&display=swap');

/*layout base */
*{ box-sizing: border-box;}

main{ width: 100%;}

main > *{ width: 100%;}

main .cont{ max-width: 1200px;}

section{ overflow: hidden;}

.cont{ @include cont;}

.wrapper:after{ @include clearfix;}

.screen{
    background: rgba(0,0,0,0.2);
    @include abs0; 
}

.thumbnail{
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

h2{ 
    font-size: 2.3rem;
    line-height: 1.6;
    letter-spacing: 2px;
}

p{
    color: #404040;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.7; 
}
strong{
    font-size: 1.4rem;
}

/* header */
header{
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    background: transparent;
    @include headertrans;
    .cont{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1800px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .logo img{ height: 65px;}
    .ham_btn{
        display: none;
        position: absolute;
        right: 20px;
        color: white;
        font-size: 35px;
    }
}

nav{
    .gnb{
        display: flex;
        justify-content: space-between;
    }
    li{
        padding: 0 12px;
        a{
            display: block;
            color: white;
            font-weight: 600;
            font-size: 1.1rem; 
            line-height: 65px;
            letter-spacing: 1px;
            text-align: center;
            &:hover{ color: #26BCB8;}
        }
    }
}

/* scroll down시 header */
.down{
    background-color:rgba(0,0,0,.8);
    @include headertrans;
    li a{
        color: white;
        &:hover{ color: #26BCB8;}
    }
}

/* footer */
footer{
    width: 100%;
    background: $subcolor2;
    .cont{
        position: relative;
        max-width: 1200px;
        padding-top:30px;
        padding-bottom: 30px;
        &:after{ @include clearfix;}
    }
    p, address{ 
        color: white;
        font-size: 0.9rem;
    }
    address{ margin-top: 20px;}
    .sns{
        float: right;
        li{
            float: left;
            margin-right: 10px;
        }
        &:after{ @include clearfix;}
    }
    .instagram, .naver{

        color: white;
        font-size: 3.2rem;
    }
}

/* heading background */
.heading_bg{
    position: relative;
    width: 100%;
    padding-top: 95px;
    background-position: center top;
    background-size: cover;
    .cont{
        position: relative;
        padding-top: 50px;
        padding-bottom: 70px;
    }
    strong{
        display: block; 
        position: relative;
        z-index: 3;
        top: 50%;
        margin-bottom: 80px;
        color: white;
        font-size: 2.5rem;
        letter-spacing: 1px;
        text-align: center;
        transform: translateY(-25%);
        &:after{ display: none;}
    }
    p{
        position: relative;
        z-index: 3;
        color: white;
        font-weight: 300;
        font-size: 2.2rem;
    }
}

/* section_between_background */
.sec_between{
    position: relative;
    width: 100%;
    height: 400px;
}



/* Media Query */
@media screen and (max-width: 480px){
    h2{ font-size: 1.8rem;}
    section{
        .cont{
            flex-wrap: wrap;
            padding-top: 70px !important;
            padding-bottom: 80px !important;
            p{ 
                line-height: 1.5;
                br{ display: none;}
            }
        }
        strong{ font-size: 1.3rem;}   
    }
    .cont{ 
        padding-right: 15px;
        padding-left: 15px;
    }
    p{ font-size: 1rem;}
    .main_top{
        strong{ font-size: 8vw !important;}
        p{ font-size: 4.8vw !important;}
    }
    .heading_bg{
        padding-top: 60px;
        strong{ margin-bottom: 50px;}
    }
}

@media screen and (max-width: 960px){
    .support_SPM{ display: none;}
    header{
        .logo img{ height: 40px;}
        .cont{
            flex-direction: column;
            align-items: flex-start;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        nav{ width: 100%;}
        .gnb{
            display: none;
            flex-direction: column;
            width: 100%;
            a{ line-height: 45px;}
        }
        .gnb.active{ display: flex;}
        .ham_btn{ display: block;}
    }
    header.active{ background: rgba(0,0,0,0.8);}
}