@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.more {
  padding: 5px 15px;
  border-radius: 20px;
  background: #333333;
  color: white;
}

.more:hover {
  background: white;
  color: black;
}

.more span {
  font-weight: 300;
}

/* quick-menu(후원 및 문의) */
.support_SPM {
  position: fixed;
  z-index: 100;
  right: 40px;
  bottom: 150px;
  background: #b7c6cd;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.support_SPM a {
  display: block;
  padding: 10px 25px;
  color: white;
}

.support_SPM a:hover {
  background: #3981e6;
}

/* section-01 */
.main_top .wrapper {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.main_top .wrapper .slide_list:after {
  display: block;
  clear: both;
  content: '';
}

.main_top .wrapper .slide_list li {
  position: relative;
  float: left;
  width: 100%;
  height: 100vh;
}

.main_top .text_wrap {
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.main_top strong {
  color: white;
  font-weight: 700;
  font-size: 2.5rem;
  font-family: 'Roboto Condensed';
  line-height: 2.5;
  letter-spacing: 3px;
}

.main_top p {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 1.4rem;
  text-align: center;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main_top em {
  font-weight: 700;
  font-size: 1.8rem;
  font-family: 'Roboto Condensed';
  letter-spacing: 3px;
}

.main_top .sl_01 {
  background: url(../img/jpg/main_slide_bg/bg_01.jpg) no-repeat center;
  background-size: cover;
}

.main_top .sl_02 {
  background: url(../img/jpg/main_slide_bg/bg_02.jpg) no-repeat center;
  background-size: cover;
}

.main_top .sl_03 {
  background: url(../img/jpg/main_slide_bg/bg_03.jpg) no-repeat center;
  background-size: cover;
}

.main_top .sl_04 {
  background: url(../img/jpg/main_slide_bg/bg_04.jpg) no-repeat center;
  background-size: cover;
}

/* section-01,03 */
.sec01, .sec03, .sec04 {
  background: #18A8F1;
}

.sec01 .cont, .sec03 .cont, .sec04 .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 140px;
  padding-bottom: 140px;
}

.sec01 .cont > div, .sec03 .cont > div, .sec04 .cont > div {
  position: relative;
  float: left;
  color: white;
}

.sec01 h2, .sec03 h2, .sec04 h2 {
  position: relative;
}

.sec01 h2:after, .sec03 h2:after, .sec04 h2:after {
  top: -15px;
  width: 100px;
  height: 2px;
  background: white;
  display: block;
  position: absolute;
  content: "";
}

.sec01 h2, .sec01 p, .sec01 strong, .sec03 h2, .sec03 p, .sec03 strong, .sec04 h2, .sec04 p, .sec04 strong {
  color: white;
}

.sec01 h3, .sec03 h3, .sec04 h3 {
  text-align: center;
}

.sec01 strong, .sec03 strong, .sec04 strong {
  display: block;
  padding-bottom: 10px;
  font-size: 1.1rem;
}

.sec01 .more, .sec03 .more, .sec04 .more {
  position: absolute;
  right: 0;
  bottom: -40px;
}

/* section-02 */
.sec02 {
  background: #18A8F1;
  overflow: hidden;
}

.sec02 h3 {
  padding: 30px 0;
  text-align: center;
}

.sec02 h3 span {
  color: #ffe224;
}

.sec02 p {
  text-align: center;
  color: white;
  font-size: 1rem;
}

.sec02 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0;
}

.sec02 ul p {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.3rem;
}

.sec02 li {
  width: 30%;
}

.sec02 .thumbnail {
  display: block;
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.sec02 .thumbnail img {
  width: 100%;
  height: 100%;
}

.sec02 .thumbnail img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* section_between_background */
.first {
  background: url(../img/jpg/office.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.second {
  background: url(../img/jpg/marketing.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

/* explanation */
.explanation {
  background: #18A8F1;
}

.explanation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

.explanation li {
  width: 30%;
}

.explanation .thumbnail {
  width: 100%;
  height: 200px;
}

.explanation .text_box strong {
  display: block;
  padding-top: 20px;
  font-size: 1.2rem;
}

.explanation .text_box p {
  padding: 20px 0;
  color: white;
}

/* section-04 */
.sec05 * {
  text-align: center;
}

.sec05 .cont {
  padding-top: 50px;
  padding-bottom: 150px;
}

.sec05 .cont h2 {
  padding: 50px 0;
}

.sec05 .cont p {
  margin-bottom: 30px;
}

.sec05 .cont .more2 {
  color: #18A8F1;
  font-weight: 700;
  font-size: 1.3rem;
}

.sec05 {
  background: white;
}

.sec05 h2 {
  padding: 30px 0;
  color: #18A8F1;
  letter-spacing: 2px;
  text-align: center;
}

.sec05 .wrapper {
  overflow: hidden;
}

.sec05 .slide_list {
  width: 200%;
  padding: 50px 0 100px 0;
}

.sec05 .slide_list:after {
  display: block;
  clear: both;
  content: '';
}

.sec05 .slide_list .thumbnail {
  overflow: hidden;
  float: left;
  width: calc(1160px / 3 - 30px);
  height: 250px;
  margin: 15px;
}

.sec05 .slide_list .thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Media Query */
@media screen and (max-width: 960px) {
  .sec01 .cont, .sec04 .cont {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .sec01 .right, .sec04 .right {
    margin-bottom: 20px;
  }
  .sec03 .cont {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sec03 .left {
    margin-bottom: 20px;
  }
  .sec02 ul, .explanation ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 70px !important;
    padding-bottom: 40px !important;
  }
  .sec02 ul > li, .explanation ul > li {
    width: 100%;
    padding-bottom: 30px;
  }
  .sec03 h2 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */