* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  display: inline-block;
  position: relative;
  margin: 20px 0;
}

h2:after {
  top: -15px;
  width: 100px;
  height: 2px;
  background: black;
  display: block;
  position: absolute;
  content: "";
}

/* heading-background */
.heading_bg {
  background: url(../img/jpg/about_us/building.jpg) no-repeat;
}

/* sub01-section-01,02 */
.sec01 .cont, .sec02 .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.sec01 .text_wrap, .sec02 .text_wrap {
  width: 60%;
}

.sec01 .text_wrap p, .sec02 .text_wrap p {
  padding-top: 30px;
}

.sec01 .img_wrap, .sec02 .img_wrap {
  width: 40%;
}

.sec01 .text_wrap {
  padding-right: 30px;
}

.sec01 .img_wrap {
  background: url(../img/jpg/about_us/business.jpg) no-repeat center;
}

.sec02 .text_wrap {
  padding-left: 30px;
}

.sec02 .text_wrap span {
  color: #2489bc;
}

.sec02 .img_wrap img {
  width: 350px;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}

/* sub01-section-03 */
.sec03 {
  background: #343436;
}

.sec03 .cont {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sec03 h2 {
  color: white;
}

.sec03 h2:after {
  background: white;
}

.sec03 ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.sec03 li {
  margin-bottom: 50px;
}

.sec03 .thumbnail {
  width: 300px;
  height: 300px;
}

.sec03 .thumbnail img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sec03 .thumbnail + p {
  padding-top: 20px;
  color: white;
  text-align: center;
}

/* sub01-section-04 */
.sec04 {
  background: url(../img/jpg/about_us/architecture.jpg) no-repeat center;
  background-size: cover;
}

.sec04 .cont {
  padding: 120px;
  text-align: center;
}

.sec04 h2 {
  color: white;
}

.sec04 h2:after {
  display: none;
}

.sec04 .text_wrap {
  margin-top: 50px;
  background: white;
}

.sec04 .text_wrap strong {
  display: block;
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.sec04 .text_wrap p {
  padding: 50px 15px;
  line-height: 2;
}

.sec04 .text_wrap span {
  display: block;
  margin-top: 20px;
  font-weight: 600;
}

/* Media Query */
@media screen and (max-width: 960px) {
  .sec01 .cont {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .sec01 .img_wrap {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .sec01 .text_wrap {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-right: 0px;
  }
  .sec01 .text_wrap br {
    display: none;
  }
  .sec02 .cont {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .sec02 .img_wrap {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .sec02 .img_wrap img {
    width: 100%;
  }
  .sec02 .text_wrap {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-bottom: 100px;
    padding-left: 0px;
  }
  .sec03 ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sec03 li .thumbnail {
    width: 220px;
    height: 220px;
  }
  .sec04 .cont {
    padding: 80px 20px;
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .sec03 li {
    width: 100%;
  }
  .sec03 li .thumbnail {
    width: 100%;
    height: 250px;
  }
  .sec04 strong + br {
    display: block !important;
  }
}
/*# sourceMappingURL=sub1.css.map */