$maincolor: #8dd437;
$subcolor1: #f2922c; 
$subcolor2: #464647;

*{box-sizing: border-box;}

@mixin clearfix{
    display: block;
    clear: both;
    content: '';
}
@mixin cont{
    width: $contwidth;
    min-width: $contwidth;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}
@mixin contpadding{
    padding-top: 100px;
    padding-bottom: 100px;
}
@mixin abs0{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@mixin aftersty{
    display: block;
    position: absolute;
    content: "";
}

h2{
    position: relative;
    margin: 20px 0;
    &:after{
        top: -15px;
        width: 100px;
        height: 2px;
        background: black;
        @include aftersty;
    }
}

/* heading-background */
.heading_bg{ background: url(../img/jpg/our_business/building2.jpg) no-repeat;}

/* sub02-section-01 */
.sec01{
    .cont{
        display: flex;
        padding-top: 100px;
        padding-bottom: 150px;
    }
    .img_wrap{ 
        width: 50%;
        height: 500px;
        background: url(../img/png/branches/branches.png) no-repeat center;
        background-size: contain;
    }
    .text_wrap{
        width: 50%;
        padding-left: 50px;
        p{ padding-top: 30px;}
    }
}

/* section_between_background */
.sec_between{
    background: url(../img/jpg/our_business/laptop.jpg) no-repeat center;
    background-size: cover;
    background-position-y: -250px;
    background-position-x: -360px;
    .screen{
        background: rgba(255,255,255,0.5);
    }
}

/* sub02-section-03 */
.sec02{
    .cont{
        padding-top: 100px;
        padding-bottom: 50px;
        ul{
            display: flex;
            flex-direction: column;
        }
    }
    h2+p{ padding: 40px 0 60px 0;}
    .client_co{ 
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .thumbnail{
        width: 200px;
        height: 200px;
        img:hover{
            transform: scale(1.1);
            transition: all 0.3s;
        }
    }
    .text_wrap{
        width: 850px;
        strong{ font-size: 1.2rem;}
        p{ 
            position: relative;
            margin-top: 20px;
            font-size: 1rem;
            &:before{
                left: -25px;
                width: 4px;
                height: 100%;
                background: #b5b5b5; 
                @include aftersty;
            }
        }
    }
}


