$maincolor: #2489bc;
$subcolor1: #b7c6cd; 

*{box-sizing: border-box;}

@mixin clearfix{
    display: block;
    clear: both;
    content: '';
}
@mixin contpadding{
    padding-top: 100px;
    padding-bottom: 100px;
}
@mixin abs0{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@mixin aftersty{
    display: block;
    position: absolute;
    content: "";
}

h2{
    position: relative;
    margin: 20px 0;
    &:after{
        top: -15px;
        width: 100px;
        height: 2px;
        background: black;
        @include aftersty;
    }
}

/* heading-background */
.heading_bg{ background: url(../img/jpg/how_to_work/building3.jpg) no-repeat;}

/* sub03-section-01 */
.sec01{
    .top{
        padding-top: 100px;
        padding-bottom: 50px;
        .text_wrap{
            p{
                padding-top: 30px;
                font-weight: 300;
                font-size: 1.4rem;
            }
            span{
                color: #f07a13;
                font-weight: 300;
                font-size: 1.6rem;
            }
        }
        .img_wrap{
            margin-top: 70px;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .bottom{
        .text_wrap{
            position: relative;
            margin-bottom: 80px;
            margin-left: 40px;
            &:before{
                left: -25px;
                width: 4px;
                height: 100%; 
                @include aftersty;
            }
            &:first-child:before{ background: #B8E9FF;}
            &:nth-child(2):before{ background: #58CCFF;}
            &:nth-child(3):before{ background: #1187CF;}
            &:last-child:before{ background: #3A4CA8;}
            strong{font-size: 1.2rem;}
            p{ padding-top: 15px;}
        }
    }
}

/* sub2-section-03 */
.sec02{
    background: url(../img/jpg/how_to_work/lighthouse.jpg) no-repeat center;
    background-size: cover;
    .cont{
        padding: 120px;
        text-align: center;
    }
    h2{
        color: white;
        &:after{ display: none;}
    }
    .text_wrap{
        background: rgba(255,255,255,0.7);
        margin-top: 50px;
        padding: 50px 15px;
        p{ 
            font-weight: 600;
            line-height: 3;
        }
    }
}

/* sub03-section-03 */
.sec03{
    .cont{
        padding-top: 100px;
    }
    .img_wrap{
        padding-top: 150px;
        padding-bottom: 150px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 960px){
    .sec01{
        .top{ 
            p{font-size: 1.1rem !important;}
            span{font-size: 1.2rem !important;}
            img{transform:scale(1.3);}
        }
        .bottom{ 
            padding-top: 0px !important;
            padding-bottom: 80px !important;
            .text_wrap{ margin-bottom: 40px;}
        }
    }
    .sec02{
        .cont{
            padding: 80px 20px;
            text-align: center;
        }
    }
    .sec03{
        .img_wrap{
            padding-top: 80px;
            padding-bottom: 80px;
            img{transform:scale(1.2);}
        }
    }
}

