$maincolor: #8dd437;
$subcolor1: #f2922c; 
$subcolor2: #464647;

*{box-sizing: border-box;}

@mixin clearfix{
    display: block;
    clear: both;
    content: '';
}
@mixin cont{
    width: $contwidth;
    min-width: $contwidth;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}
@mixin contpadding{
    padding-top: 100px;
    padding-bottom: 100px;
}
@mixin abs0{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@mixin aftersty{
    display: block;
    position: absolute;
    content: "";
}

h2{
    position: relative;
    margin: 20px 0;
    &:after{
        top: -15px;
        width: 100px;
        height: 2px;
        background: black;
        @include aftersty;
    }
}

/* heading-background */
.heading_bg{ background: url(../img/jpg/how_to_work/building3.jpg) no-repeat;}

/* sub03-section-01 */
.sec01{
    .top{
        padding-top: 100px;
        padding-bottom: 50px;
        .text_wrap{
            p{
                padding-top: 30px;
                font-weight: 300;
                font-size: 1.4rem;
            }
            span{
                color: #f07a13;
                font-weight: 300;
                font-size: 1.6rem;
            }
        }
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .bottom{
        padding-bottom: 80px;
        .text_wrap{
            position: relative;
            margin-bottom: 80px;
            margin-left: 40px;
            &:before{
                left: -25px;
                width: 4px;
                height: 100%; 
                @include aftersty;
            }
            &:first-child:before{ background: #AFD485;}
            &:nth-child(2):before{ background: #12887A;}
            &:last-child:before{ background: #7DB249;}
            strong{font-size: 1.2rem;}
            p{ padding-top: 15px;}
        }
    }
}

/* sub03-section-02 */
.sec02{
    .cont{
        padding-top: 100px;
    }
    .img_wrap{
        padding-top: 100px;
        padding-bottom: 150px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 960px){
    .sec01{
        .top{ 
            p{font-size: 1.1rem !important;}
            span{font-size: 1.2rem !important;}
        }
        .bottom{ 
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            .text_wrap{ margin-bottom: 40px;}
        }
    }
    .sec02{
        li{ flex-wrap: wrap;}
        .thumbnail{ flex-basis: 100%;}
        .text_wrap{ 
            flex-basis: 100%;
            margin-left: 0px;
            margin-top : 30px;
            br{ display: none;}
        }

    }
}

