* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  position: relative;
  margin: 20px 0;
}

h2:after {
  top: -15px;
  width: 100px;
  height: 2px;
  background: black;
  display: block;
  position: absolute;
  content: "";
}

/* heading-background */
.heading_bg {
  background: url(../img/jpg/contact/milkyway.jpg) no-repeat;
  background-position: center bottom;
}

/* sub04-section-01 */
.sec01 .cont {
  padding-top: 100px;
  padding-bottom: 250px;
  text-align: center;
}

.sec01 h2 {
  padding-bottom: 70px;
}

.sec01 h2:after {
  display: none;
}

.sec01 strong {
  font-size: 1.2rem;
}

.sec01 p {
  padding-top: 20px;
}

/* section_between_background */
.sec_between {
  background: url(../img/jpg/contact/inspiration.jpg) no-repeat center;
  background-size: cover;
  background-position-y: -150px;
  background-position-x: -360px;
}

.sec_between .screen {
  background: rgba(255, 255, 255, 0.5);
}

/* sub04-section-02 */
.sec02 .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 100px;
}

.sec02 h2 {
  padding-bottom: 30px;
}

.sec02 .text_wrap {
  width: 60%;
  padding-right: 30px;
}

.sec02 .text_wrap > div {
  position: relative;
  margin-bottom: 40px;
  margin-left: 25px;
}

.sec02 .text_wrap > div:before {
  left: -25px;
  width: 4px;
  height: 100%;
  background: #b5b5b5;
  display: block;
  position: absolute;
  content: "";
}

.sec02 .text_wrap strong {
  font-size: 1.2rem;
}

.sec02 .text_wrap p {
  padding-top: 10px;
}

.sec02 .img_wrap {
  width: 40%;
}

.sec02 .img_wrap .root_daum_roughmap {
  width: 100%;
  height: 100%;
}

.sec02 .img_wrap .wrap_map {
  height: 100%;
}

/* sub04-section-03 */
.sec03 {
  background: #343436;
}

.sec03 .cont {
  padding-top: 50px;
  padding-bottom: 100px;
}

.sec03 h2 {
  color: white;
}

.sec03 h2:after {
  background: white;
}

.sec03 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 70px;
  color: white;
}

.sec03 li {
  text-align: center;
}

.sec03 li:nth-child(1) i {
  background-position-x: 0px;
}

.sec03 li:nth-child(2) i {
  background-position-x: -140px;
}

.sec03 li:nth-child(3) i {
  background-position-x: -280px;
}

.sec03 li:nth-child(4) i {
  background-position-x: -420px;
}

.sec03 li:nth-child(5) i {
  background-position-x: -560px;
}

.sec03 li i {
  display: block;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: url(../img/png/contact/contact_us.png) no-repeat center;
  background-size: cover;
}

.sec03 li i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* Media Query */
@media screen and (max-width: 960px) {
  .sec_between {
    display: none;
  }
  .sec01 .cont {
    padding-bottom: 30px;
  }
  .sec02 .cont {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sec02 .text_wrap {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .sec02 .img_wrap {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .sec02 .wrap_map {
    height: 300px !important;
  }
  .sec03 ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sec03 li {
    width: 40%;
    padding-bottom: 50px;
  }
  .sec03 li:nth-child(1) i {
    background-position-x: 0px;
  }
  .sec03 li:nth-child(2) i {
    background-position-x: -100px;
  }
  .sec03 li:nth-child(3) i {
    background-position-x: -200px;
  }
  .sec03 li:nth-child(4) i {
    background-position-x: -300px;
  }
  .sec03 li:nth-child(5) i {
    background-position-x: -400px;
  }
  .sec03 li i {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 480px) {
  .sec03 li {
    padding-bottom: 25px;
  }
  .sec03 li:nth-child(1) i {
    background-position-x: 0px;
  }
  .sec03 li:nth-child(2) i {
    background-position-x: -100px;
  }
  .sec03 li:nth-child(3) i {
    background-position-x: -200px;
  }
  .sec03 li:nth-child(4) i {
    background-position-x: -300px;
  }
  .sec03 li:nth-child(5) i {
    background-position-x: -400px;
  }
  .sec03 li span {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=sub4.css.map */